{% extends 'base.html' %} 
{% block titulo %}Autores{% endblock %} 
{% block conteudo %}     
    <h2>Autores</h2>     
    <p><a class='btn btn-primario' href='/autores/novo'>+ Novo Autor</a></p>     
    {% if not autores %}         
        <div class='aviso'>Nenhum autor cadastrado.</div>     
    {% else %}         
        <table>             
            <tr>                 
                <th>Nome</th>                 
                <th>Nacionalidade</th>                 
                <th>Livros</th>                 
                <th>Ações</th> 
            </tr>             
            {% for autor in autores %}             
            <tr>                 
                <td>{{ autor.nome }}</td>                 
                <td>{{ autor.nacionalidade or '-' }}</td>                 
                <td>                     
                    <a href='/livros/autor/{{ autor.id }}'>                         
                        {{ autor.livros | length }} livro(s)                     
                    </a>                 
                </td>                 
                <td>                     
                    <form action='/autores/remover/{{ autor.id }}' method='post' style='display:inline'>                         
                        <button class='btn btn-perigo' type='submit'>Remover</button>                     
                    </form>                 
                </td>             
            </tr>             
            {% endfor %}         
        </table>     
    {% endif %} 
{% endblock %} 